Brotli==1.1.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
colorama==0.4.6
coverage==7.6.10
et_xmlfile==2.0.0
exceptiongroup==1.2.2
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.10
iniconfig==2.0.0
numpy==2.2.0
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pip==24.3.1
pluggy==1.5.0
pycparser==2.22
PySocks==1.7.1
pytest==8.3.4
pytest-cov==6.0.0
pytest-random-order==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.3
setuptools==75.6.0
six==1.17.0
toml==0.10.2
tomli==2.2.1
tzdata==2024.2
urllib3==2.2.3
wheel==0.45.1
XlsxWriter==3.2.0
zstandard==0.23.0
